// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;900&family=Open+Sans:wght@300;400;600;700&display=swap');
@import url("https://use.typekit.net/gaa3isr.css");
// Define fonts for body and headers
$body-font1: "ibm-plex-sans",  "Work Sans", "Helvetica", "sans-serif";
$headers-font1: "ibm-plex-sans", "Nunito", "Helvetica", "sans-serif";

$body-font2: 'Open Sans', sans-serif;
$headers-font2: 'Fira Sans', sans-serif;



// Define fonts for body and headers



// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

