
.user-bar {
  p {
    font-size: 11px;
  }
}
.challenge-bar {
  p {
    font-size: 11px;
  }
}

// Progress bar

.progress-bar {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  background-color: inherit;
  padding-left: 0;
  margin-left: 0;
  padding-top: 15px;

}

.progress-bar-item {
  // position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.flex-animal-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-info-user {
 padding-left: 15px;
 padding-top: 15px;
 padding-right: 5px;
 h4 {
   font-size: 19px;
 }
 h5 {
  font-size: 16px;
 }
}

// Challenge card

.challenge-card {
  position: relative;
  background: #43608B;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  margin-right: 2px;
  margin-bottom: 14px;
  max-width: 200px;
  border-radius: 20px;
  opacity: 0.8;
  border: 2px solid white;

  &:hover {
    opacity: 0.9;
    box-shadow: 0 4px 15px rgba(0,0,0,0.7);
    transition: 0.2s;
  }

  .card-picture {
    margin-top: 5px;
    margin-right: 45px;
    margin-left: 45px;
    padding: 5px;
    background: #43608B;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    border: 2px solid white;

    .img {
      margin: 0 auto;
    }
  }

  .card-info {
    padding: 3px;
    h3 {
      text-align: center;
      font-size: 20px;
    }
    p {
     padding: 4px;
   }
 }
}
.gap-between {
  gap: 10px;
}
.challenge-card-mini {
  position: relative;
  background: #43608B;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  margin-bottom: 8px;
  flex-grow: 1;
  border-radius: 10px;
  opacity: 0.8;

  &:hover {
    border: 2px solid white;
    opacity: 0.9;
    box-shadow: 0 4px 15px rgba(0,0,0,0.7);
  }

  .card-picture {
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    // box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  }

  .card-info {
    padding: 2px;
    h3 {
      text-align: center;
      font-size: 14px;
    }
  }
}

// Transport card
.transport-card {
  background: #43608B;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  margin-bottom: 8px;
  flex-grow: 1;
  border-radius: 10px;
  opacity: 0.8;
  padding-top: 5px;
  &:hover {
    border: 2px solid white;
    opacity: 0.9;
    box-shadow: 0 4px 15px rgba(0,0,0,0.7);
  }
  h4 {
      text-align: center;
      font-size: 14px;
    }
}

















