<h3 class="ml-2 text-shadow text-24">Completed Challenges</h3>
        <!-- Add links to the previous challenge cards -->
        <div class="d-flex justify-content-between flex-wrap gap-between mt-1 ml-3 mr-3">

         <% @challenges.each do |user_challenge| %>
         <% if user_challenge.completed %>
         <div class="challenge-card-mini">
          <div class="card-picture"><%= image_tag('shower.svg', class: 'animal-mid center') %></div>
          <div class="card-info">
            <h3 class="text-center"><%= user_challenge.challenge.name %></h3>

          </div>
        </div>
        <% end %>
        <% end %>
      </div>
