<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
      </div>
      <a href="https://www.treedom.net/en/">
        <%= image_tag('ecology.png', class: 'avatar') %>
      </a>
      <p>Lorem ipsum dolor sit, amet.</p>
      <%= user_challenge %>
      <% %>
      <div class="modal-footer">
        <%#= link_to "Close", decline_challenge_path(user_challenge), remote: true, method: :post, class: "cancel" %>
      </div>
    </div>
  </div>
</div>
