<div class="container">
<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>

  <div class="row flex-row">

   <div class="col">
    <div class="card-about">
        <img src="m.jpg" alt="Maarten" style="width:100%">
      <div class="container-about">
        <h2>Maarten</h2>
        <p class="title">Mastermind of the project and API master</p>
        <div class="footer-about">
          <ul>
            <li><a href="https://github.com/alena22292" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="https://www.facebook.com/helen.radchenko" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alena-gritsiuk-62667317b/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-about">
      <img src="t.jpg" alt="Tiago" style="width:100%">
      <div class="container-about">
        <h2>Tiago</h2>
        <p class="title">Backend professional</p>
        <div class="footer-about">
          <ul>
            <li><a href="https://github.com/alena22292" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="https://www.facebook.com/helen.radchenko" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alena-gritsiuk-62667317b/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-about">
      <img src="a.jpg" alt="Alena" style="width:100%">
      <div class="container-about">
        <h2>Alyona</h2>
        <p class="title">Full stack expert</p>
         <div class="footer-about">
          <ul>
            <li><a href="https://github.com/alena22292" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="https://www.facebook.com/helen.radchenko" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alena-gritsiuk-62667317b/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-about">
      <img src="s.jpg" alt="Steven" style="width:100%">
      <div class="container-about">
        <h2>Steven</h2>
        <p class="title">Backend genius</p>
        <div class="footer-about">
          <ul>
            <li><a href="https://github.com/alena22292" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="https://www.facebook.com/helen.radchenko" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alena-gritsiuk-62667317b/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-about">
      <img src="me.jpg" alt="John" style="width:100%">
      <div class="container-about">
        <h2>Antal</h2>
        <p class="title">Frontend fixer</p>
         <div class="footer-about">
          <ul>
            <li><a href="https://github.com/alena22292" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="https://www.facebook.com/helen.radchenko" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alena-gritsiuk-62667317b/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>


<a href="/"> Go back home</a>
</div>



