<div class="container">
    <div class="about-section">
      <h1>About Us Page</h1>
      <p>Some text about who we are and what we do.</p>
    </div>

   <h2 style="text-align:center">Our Team</h2>
<hr>
</div>

  <div class="flex-box">

    <div class="card-about back-border mr-3">
        <img src="m.jpg" alt="Maarten">
      <div class="container-about">
        <h2>Maarten</h2>
        <p class="title">Mastermind of the project and API master</p>

          <ul class="footer-about ">
            <li><a href="#" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>

      </div>
    </div>

    <div class="card-about back-border mr-3">
      <img src="t.jpg" alt="Tiago">
      <div class="container-about">
        <h2>Tiago</h2>
        <p class="title">Backend professional</p>

          <ul class="footer-about">
            <li><a href="#" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>

      </div>
    </div>

    <div class="card-about back-border mr-3">
      <img src="a.jpg" alt="Alena">
      <div class="container-about">
        <h2>Alyona</h2>
        <p class="title">Full stack expert</p>

          <ul class="footer-about">
            <li><a href="https://github.com/alena22292" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="https://www.facebook.com/helen.radchenko" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alena-gritsiuk-62667317b/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>

      </div>
    </div>

    <div class="card-about back-border mr-3">
      <img src="s.jpg" alt="Steven">
      <div class="container-about">
        <h2>Steven</h2>
        <p class="title">Backend genius</p>
          <ul class="footer-about">
            <li><a href="#" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>

      </div>
    </div>

    <div class="card-about back-border">
      <img src="me.jpg" alt="John">
      <div class="container-about">
        <h2>Antal</h2>
        <p class="title">Frontend fixer</p>

          <ul class="footer-about">
            <li><a href="#" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>

      </div>
    </div>

  </div>

<div class="container">
    <hr>
    <%= link_to root_path do %>
      <i class="far fa-hand-point-left"></i> Home
    <% end %>
    <% if user_signed_in? %>
        <%= link_to user_path(current_user) do %>
         | Dashboard <i class="far fa-hand-point-right"></i>
        <% end %>
    <% end %>
</div>




