<div id="home-container" class="">
  <div class="row">
    <div class="img col-12 col-sm-8  col-md-4 col-lg-4 col-xl-4">
        <%= image_tag 'logo.svg'%>
      </div>
    <div id="home-buttons" class="col-12 col-sm-8  col-md-4 col-lg-4 col-xl-4">
      <h4><em>Change isn’t hard, if you know what to do.</em></h4>
      <h1>Calculate your Carbon Footprint</h1>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn" %>
        <%= link_to "Dashboard", user_path(current_user[:id]), class: "btn" %>
      <% else %>
        <a type="button" class="btn" href="/users/sign_up">Sign Up!</a>
        <a type="button" class="btn" href="/users/sign_in">Login</a>
      <% end %>
    </div>
  </div>
</div>
