<style>
  #transport-next, #house-next, .btn-survey {
    width: 35%;
    font-size: 75%;
  }
</style>

<div class="row mt-auto mt-md-0" id="formrow">
  <form action="/users/<%= user.id %>/surveys" name="Form" class="form-survey" method="POST">
    <input type="hidden"
         value="<%= form_authenticity_token() %>"
         name="authenticity_token"/>
      <!-- First Question -->
      <div class="survey-category transport" id="1-q">
        <h2 class="survey-title">How do you normally get from and to your work?</h2>
          <div class="survey-questions row d-flex justify-content-between mx-auto" style="font-size: 75%">
            <input type="radio" btn-type="next1" class="mx-auto radio-survey col-11 col-sm-11 col-md-3 col-lg-3" id="transport-option1" name="category" value="car">
            <label for="transport-option1" class="mx-auto radio-label survey-box col-11 col-sm-11 col-md-3 col-lg-3">Car</label>
            <input type="radio" btn-type="next1" class="mx-auto radio-survey col-11 col-sm-11 col-md-3 col-lg-3" id="transport-option2" name="category" value="train">
            <label for="transport-option2" class="mx-auto radio-label survey-box col-11 col-sm-11 col-md-3 col-lg-3">Public Transport</label>
            <input type="radio" btn-type="next1" class="mx-auto radio-survey col-11 col-sm-11 col-md-3 col-lg-3" id="transport-option3" name="category" value="walk">
            <label for="transport-option3" class="mx-auto radio-label survey-box col-11 col-sm-11 col-md-3 col-lg-3">Walking / By bike</label>
          </div>
        <a href="#" btn-type="next" id="transport-next" style="pointer-events: none" class="btn-blue btn-survey p-auto">Next Question</a>
      </div>
          <!-- Second Question -->
      <div class="survey-category house hide" id="2-q">
        <h2 class="survey-title">What best describes the house you live in?</h2>
        <div class="survey-questions d-flex row justify-content-between mx-auto" style="font-size: 75%">
          <input type="radio" btn-type="next1" class="mx-auto radio-survey col-11 col-sm-11 col-md-3 col-lg-3" id="house-option1" name="housing_category" value="flat">
          <label for="house-option1"  class="mx-auto radio-label survey-box col-11 col-sm-11 col-md-3 col-lg-3">Flat</label>
          <input type="radio" btn-type="next1" class="mx-auto radio-survey col-11 col-sm-11 col-md-3 col-lg-3" id="house-option2" name="housing_category" value="mid-terrace-house">
          <label for="house-option2"  class="mx-auto radio-label survey-box col-11 col-sm-11 col-md-3 col-lg-3">Mid-terrace house</label>
          <input type="radio" btn-type="next1" class="mx-auto radio-survey col-11 col-sm-11 col-md-3 col-lg-3" id="house-option3" name="housing_category" value="detached-house">
          <label for="house-option3"  class="mx-auto radio-label survey-box col-11 col-sm-11 col-md-3 col-lg-3">Detached house</label>
        </div>
        <a href="#" btn-type="next" id="house-next" style="pointer-events: none" class="btn-blue btn-survey mb-auto">Next Question</a>
        <br>
        <a href="#" btn-type="previous" class="btn-empty-grey btn-survey">Back</a>
      </div>
          <!-- Third Question -->
      <div class="survey-category food hide" id="3-q">
        <h2 class="survey-title">On average how much do you spend on groceries per month?</h2>
          <div class="food-group">
            <label for="food-option1"></label>
            <input class="survey-form-field" type="number" id="food-option1" name="spend" placeholder="€" required>
          </div>
        <a href="#" btn-type="next" id="food-next" style="pointer-events: none" class="btn-blue btn-survey mb-auto" >Next Question</a>
        <br>
        <a href="#" btn-type="previous" class="btn-empty-grey  btn-survey">Back</a>
      </div>
          <!-- Fourth Question -->
      <div class="survey-category shower hide" id="4-q">
        <h2 class="survey-title">On average how long do you shower?</h2>
          <div class="shower-group">
            <label for="shower-option1"></label>
            <input class="survey-form-field" type="number" id="shower-option1" name="duration" placeholder="minutes" required>
          </div>
        <input style="width: 35%; font-size: 75%" type="submit" value="Calculate!" class="btn-blue btn-survey mb-auto">
        <br>
        <a href="#" btn-type="previous" class="btn-empty-grey  btn-survey">Back</a>
      </div>
      <!-- Closing Div -->
  </form>
</div>

<script type="text/javascript">
  document.addEventListener('click', (e) => {
    const targetElement = e.target;
    if (targetElement.getAttribute("btn-type") == "next"){
      event.preventDefault();
      console.log(targetElement);
      console.log(targetElement.checked);
      if(targetElement.parentElement.previousElementSibling != null){
      targetElement.parentElement.classList.add("hide");
      targetElement.parentElement.previousElementSibling.classList.add("hide");
      targetElement.parentElement.nextElementSibling.classList.remove("hide")
      } else{
        targetElement.parentElement.classList.add("hide");
        targetElement.parentElement.nextElementSibling.classList.remove("hide")
      }
    }else if(targetElement.getAttribute("btn-type") == "previous"){
      event.preventDefault();
      if(targetElement.parentElement.nextElementSibling != null){
        targetElement.parentElement.classList.add("hide");
        targetElement.parentElement.nextElementSibling.classList.add("hide")
        targetElement.parentElement.previousElementSibling.classList.remove("hide");
      }else{
        targetElement.parentElement.classList.add("hide");
        targetElement.parentElement.previousElementSibling.classList.remove("hide");
      }
    }
  });

  let aa = document.querySelector("#transport-option1")
  let b = document.querySelector("#transport-option2")
  let c = document.querySelector("#transport-option3")
  let d = document.querySelector("#house-option1")
  let e = document.querySelector("#house-option2")
  let f = document.querySelector("#house-option3")
  let g = document.querySelector("#food-option1")

  aa.addEventListener('click', ()=> {  aa = true });
  b.addEventListener('click', ()=> {  b = true });
  c.addEventListener('click', ()=> {  c = true });
  d.addEventListener('click', ()=> {  d = true });
  e.addEventListener('click', ()=> {  e = true });
  f.addEventListener('click', ()=> {  f = true });
  g.addEventListener('keyup', ()=> {  f = true });

  document.querySelector('.survey-category').addEventListener('click', ()=>{
    if([aa,b,c].includes(true)){
      document.querySelector('#transport-next').setAttribute("style", " ");
    }
  })

  document.querySelectorAll('.survey-category')[1].addEventListener('click', ()=>{
    if([d,e,f].includes(true)){
      document.querySelector('#house-next').setAttribute("style", " ");
    }
  })

  document.querySelectorAll('.survey-category')[2].addEventListener('keyup', ()=>{
    console.log('dfasdfasd')
      document.querySelector('#food-next').setAttribute("style", " ");
  })



</script>
