<form action="/users/<%= user.id %>/surveys"  class="form-survey" method="POST">
  <input type="hidden"
       value="<%= form_authenticity_token() %>"
       name="authenticity_token"/>
  <div>
  <div class="survey-category transport" id="1-q">
    <h2 class="survey-title">What is your main transportation to go to work?</h2>
    <input type="radio" btn-type="next1" class="radio-survey" id="transport-option1" name="category" value="car">
    <label for="transport-option1" class="radio-label">I use my car</label><br>
    <input type="radio" btn-type="next1" class="radio-survey" id="transport-option2" name="category" value="train">
    <label for="transport-option2" class="radio-label">I use my bike</label><br>
    <a href="#" btn-type="next" id="transport-next" class="btn-blue btn-survey">Next</a>
  </div>
  <div class=" survey-categoryhouse hide" id="2-q">
    <h2 class="survey-title">What kind of house do you have?</h2>
    <input type="radio" class="radio-survey" id="house-option1" name="housing_category" value="1">
    <label for="house-option1" btn-type="next1" class="radio-label">Gaz</label><br>
    <input type="radio" class="radio-survey" id="house-option2" name="housing_category" value="2">
    <label for="house-option2" btn-type="next1" class="radio-label">Petrol</label><br>
    <a href="#" btn-type="previous" class="btn-empty-grey btn-survey" >Back</a>
    <a href="#" btn-type="next" class="btn-blue btn-survey" >Next</a>
  </div>
  <div class="survey-category house hide" id="3-q">
    <h2 class="survey-title">What kind of alimentation do you have?</h2>
    <input type="radio" class="radio-survey" id="food-option1" name="food_category" value="1">
    <label for="food-option1" btn-type="submit" class="radio-label">Vegan</label><br>
    <input type="radio" class="radio-survey" id="food-option2" name="food_category" value="2">
    <label for="food-option2" btn-type="submit" class="radio-label">Meat lover</label><br>
    <a href="#" btn-type="previous" class="btn-empty-grey  btn-survey mr-3" >Back</a>
    <input type="submit" value="Submit" class="btn-blue btn-survey">
    <%#= link_to "test", "/user/#{user.id2name}/surveys" %>
  </div>
  </div>
</form>
<script type="text/javascript">
  // const carNext = document.querySelector("#transport-next")

  document.addEventListener('click', (e) => {
    const targetElement = e.target;

    if (targetElement.getAttribute("btn-type") == "next"){
      event.preventDefault();
      console.log(targetElement);
      targetElement.checked = true;
      console.log(targetElement.checked);
      if(targetElement.parentElement.previousElementSibling != null){
      targetElement.parentElement.classList.add("hide");
      targetElement.parentElement.previousElementSibling.classList.add("hide");
      targetElement.parentElement.nextElementSibling.classList.remove("hide")
      } else{
        targetElement.parentElement.classList.add("hide");
        targetElement.parentElement.nextElementSibling.classList.remove("hide")
      }

    }else if(targetElement.getAttribute("btn-type") == "previous"){
      event.preventDefault();
      if(targetElement.parentElement.nextElementSibling != null){
        targetElement.parentElement.classList.add("hide");
        targetElement.parentElement.nextElementSibling.classList.add("hide")
        targetElement.parentElement.previousElementSibling.classList.remove("hide");
      }else{
        targetElement.parentElement.classList.add("hide");
        targetElement.parentElement.previousElementSibling.classList.remove("hide");
      }
    }

  });

</script>
