.animal {
  width: 120px;
  height: 120px;
  padding: 10px;
  &:hover {
    transform: translateY(4px);
  }
}

.animal-small {
  width: 45px;
  height: 45px;
  margin: auto;
  display: block;
  object-fit: cover;
  transition: transform .2s;
  &:hover {
    padding: 3px;
    transform: scale(1.15);
  }
}
.value-small {
  width: 65px;
  height: 65px;
  margin: auto;
  display: block;
  object-fit: cover;
  transition: transform .2s;
  &:hover {
    padding: 3px;
    transform: scale(1.15);
  }
}

.blur {
  opacity: 0.6;
}

.animal-mid {
  width: 65px;
  height: 65px;
  margin: auto;
  display: block;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.avatar-sm {
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
.avatar-num-xp {

  height: 40px;
  width: 60px;
  border-radius: 50%;

  border-radius: 25px;

  background-color: #273145;
  color: white;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  padding: 7px 11px;
}

.pic-center {
  // margin-left: 48px;
}

.num-xp {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #8CCDD9;
  color: white;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -13px;
  left: -7px;
}























