.animal {
  width: 120px;
  height: 120px;
  &:hover {
    transform: translateY(4px);
  }
}

.animal-small {
  width: 45px;
  height: 45px;
  margin: auto;
  display: block;
  object-fit: cover;
  &:hover {
    padding: 3px;
    transition: 0.3s;
  }
}
.animal-mid {
  width: 65px;
  height: 65px;
  margin: auto;
  display: block;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-num-xp {
  height: 40px;
  border-radius: 50%;
  background-color: #273145;
  color: white;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
}

.pic-center {
  margin-left: 48px;
}

.num-xp {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #8CCDD9;
  color: white;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -13px;
  left: -7px;
}























