// Option 1
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 20px;
  color: white; /* White text */
  padding: 4px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
  box-shadow: 0 4px 15px rgba(0,0,0,0.7);
}

.btn-blue {
  background-color: DodgerBlue;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 7px 19px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  font-weight: bolder;
}

/* Darker background on mouse-over */
.btn-blue:hover {
  background-color: #2472D6!important;
  color: white;
  text-decoration: none;
  background-color: RoyalBlue;
  opacity: 1;
}

.btn-empty-grey {
  background-color: transparent;
  border: 1px solid grey; /* Remove borders */
  border-radius: 20px;
  color: white; /* White text */
  padding: 7px 19px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  opacity: 0.7;
}

/* Darker background on mouse-over */
.btn-empty-grey:hover {
  background-color: transparent!important;
  color: white;
  border-color: #b99c0e;
  text-decoration: none;
  // background-color: RoyalBlue;
  opacity: 1;
}
// Option 3 for recalulate btn
.btn-recalculate {
  display: inline-block;
  background-color: #007bff; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 5px;
  color: white; /* White text */
  height: 35px;
  text-align: center;
  padding: 6px 45px; /* Some padding */
  font-size: 0.7em; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  transition: all 0.5s;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  opacity: 0.7;
  span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    &:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
  &:hover {
    opacity: 0.9;
    box-shadow: 0 4px 15px rgba(0,0,0,0.7);
    span {
      padding-right: 25px;
    }
  }
}

.btn-recalculate:hover span:after {
  opacity: 1;
  right: 0;
}

// option 4 for accept

.btn-green {
  background-color: #28a745;
  border: none; /* Remove borders */
  border-radius: 10px;
  color: white; /* White text */
  padding: 10px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  opacity: 0.8;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 4px 15px rgba(0,0,0,0.7);
    color: white;
    text-decoration: none;
  }
}

// option 5 for cancel

.btn-red {
  background-color: #dc3545;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer; /* Mouse pointer on hover */
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  opacity: 0.8;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 4px 15px rgba(0,0,0,0.7);
    color: white;
    text-decoration: none;
  }
}

.btn-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.center-bt {
  margin: 6px 50% 9px 50px;
  display: inline-block;
}

.btn-contact {
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid grey; /* Remove borders */
  border-radius: 20px;
  color: white; /* White text */
  padding: 3px 15px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  opacity: 0.7;
  &:hover {
  background-color: transparent!important;
  color: white;
  border-color: #b99c0e;
  text-decoration: none;
  // background-color: RoyalBlue;
  opacity: 1;
  }
}
