// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "avatar";
@import "navbar";
@import "buttons";
@import "border";
@import "text";
@import "survey-form";
@import "searchbar";
@import "friends";
@import "carusel";
@import "chatroom";
@import "modal";
@import "shake";
@import "survey_answers";
@import "animate-xp";
@import "footer";

body {
  color: white;
  outline: none;
  text-decoration: none;
  z-index: 10;
  position: relative;
  background-image: url('back_dash.jpg');
  background-position: center;

  h1, h2, h3, h4, h5 {
    font-family: $headers-font2;
  }
  p {
    font-family: $body-font2;
  }
}

@media only screen and (min-width: 1200px) {
    body {
        background-size: cover;
        background-position: inherit;
   }
}

.page-container{
  display: grid;
  height: 80vh;
  overflow-y: scroll;
  margin: 0;
}

.content-wrap {
  //padding-bottom: 4.4rem;
}

#dashcont {
  overflow-y: scroll;
  margin: 0 auto;
}
